
.vs/timtal-tahta/v16/.suo
*.db
*.cache
*.txt
*.cache
obj/Debug/timtal-tahta.exe
obj/Debug/timtal-tahta.csproj.GenerateResource.cache
obj/Debug/timtal-tahta.pdb
obj/Debug/timtal-tahta.csproj.AssemblyReference.cache
bin/Debug/timtal-tahta.pdb
bin/Debug/timtal-tahta.exe
*.exe
bin/Debug/timtal-tahta.pdb
*.cache
*.txt
obj/Debug/timtal-tahta.exe
*.pdb
obj/Debug/timtal-tahta.pdb
bin/Debug/timtal-tahta.exe
bin/Debug/timtal-tahta.pdb
obj/Debug/timtal-tahta.csproj.AssemblyReference.cache
obj/Debug/timtal-tahta.csproj.FileListAbsolute.txt
obj/Debug/timtal-tahta.csproj.GenerateResource.cache
obj/Debug/timtal-tahta.exe
obj/Debug/timtal-tahta.pdb
